In [0]:
import numpy as np
#import scipy as sc 
import pandas as pd
#import keras

In [0]:
import matplotlib.pyplot as plt

In [0]:
import tensorflow as tf
tf.test.gpu_device_name() #check if gpu is on

'/device:GPU:0'

In [0]:
from google.colab import drive

# This will prompt for authorization
drive.mount('/content/drive')

Mounted at /content/drive

In [0]:
def format_file(f_file, order):
    import re
    with open(f_file, 'r') as file :
        filedata = file.read()
        
        if order=='yes':
            
            #format the first line suitable for use in Pandas
            filedata = filedata.replace('TimeStamp,[Buy/Sell|Price|Volume]\n',
                                        'TimeStamp|Buy/Sell|Price|Volume\n')   
      
        else:
          
            #format the first line suitable for use in Pandas
            filedata = filedata.replace('TimeStamp,[ExactTimeStamp|BuyType|Price|ID|Volume]\n',
                                        'TimeStamp|ExactTimeStamp|BuyType|Price|ID|Volume\n') 
            
            
    #change the ',' after timestamps to '|' to have same delimiter for all the columns 
    filedata = re.sub('((^[\d]{10})([\,]))', r'\2|', filedata, flags=re.M)

    #add newlines and a pipe at the end of each datapoint (each ExactTimeStamp)
    filedata = filedata.replace(',', '\n|')
    
    #write the file out again
    with open(f_file, 'w') as file:
        file.write(filedata)

In [0]:
orders = '/content/drive/My Drive/Vega/MachineLearning/data/binance/orders/ETHBTC.csv'
trades = '/content/drive/My Drive/Vega/MachineLearning/data/binance/trades/ETHBTC.csv'

In [0]:
#format_file(orders, 'yes') #commented out so it doesnt run accidentally

In [0]:
#format_file(trades, 'no')

In [0]:
orders = pd.read_csv(orders, delimiter='|') 
print(orders.shape)
orders.head()

(19010149, 4)

      TimeStamp Buy/Sell     Price  Volume
0  1.521332e+09        B  0.069430   0.864
1           NaN        B  0.069429   0.327
2           NaN        B  0.069416   0.090
3           NaN        B  0.069406   0.084
4           NaN        B  0.069404   0.269

In [0]:
trades = pd.read_csv(trades, delimiter='|')
print(trades.shape)
trades.head()

(4710672, 6)

      TimeStamp  ExactTimeStamp  BuyType     Price        ID  Volume
0  1.521332e+09   1521332236315    False  0.069726  44207735   0.100
1           NaN   1521332236334    False  0.069726  44207736   0.030
2           NaN   1521332236375     True  0.069707  44207737   0.920
3           NaN   1521332236439    False  0.069726  44207738   0.050
4           NaN   1521332236986     True  0.069707  44207739   1.153

In [0]:
trades.TimeStamp.fillna(method='ffill', axis=0, inplace=True)
trades.to_csv('/content/drive/My Drive/Vega/MachineLearning/data/binance/trades/ETHBTC-modified_2.csv', index=False)

In [0]:
orders.TimeStamp.fillna(method='ffill', axis=0, inplace=True)
orders.to_csv('/content/drive/My Drive/Vega/MachineLearning/data/binance/orders/ETHBTC-modified.csv', index=False)